<nav class="navbar navbar-expand-md navbar-dark" style="background-color: tomato">
    <div>
        <a href="" class="navbar-brand"> User Management App </a>
    </div>

    <ul class="navbar-nav">
        <li><a href="" class="nav-link">Users</a></li>
    </ul>
</nav>
<br>
<div class="row">
    <div class="container">
        <h3 class="text-center">List of Users</h3>
        <hr>
        <div class="container text-left">
            <a href="#" class="btn btn-success">Add New User</a>
        </div>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                /*per ogni utente presente nel database mostrare i suoi dati
                <tr>
                    <td>//ID</td>
                    <td>//Nome</td>
                    <td>//Email</td>
                    <td>//Nazione</td>
                    <td><a href="/*Link aggiornamento utente*/">updateUser</a></td>
                    <td><a href="/*Link cancellare utente*/">deleteUser</a></td>
                </tr>
                */
            </tbody>
        </table>
    </div>
</div>

</html>