<p>Registrati</p>
<form action="Registrazione" method="get" enctype="multipart/form-data">

	<caption>
		<h2></h2>
	</caption>


	<input type="hidden" name="id" value="" />


	<fieldset class="form-group">
		<label>User Name</label> <input type="text" value=" " class="form-control" name="Nome" required="required">
	</fieldset>

	<fieldset class="form-group">
		<label>User Email</label> <input type="text" value="" class="form-control" name="Email">
	</fieldset>


	<fieldset class="form-group">
		<label>User Password</label> <input type="text" value="" class="form-control" name="Password">
	</fieldset>

	<fieldset class="form-group">
		<label>User Country</label> <input type="text" value="" class="form-control" name="Country">
	</fieldset>

	<button type="submit" class="btn btn-success"></button>
</form>
