
<p>Registrati</p>
<form action="/*Link inserimento utente*/" method="get" enctype="multipart/form-data">

	<caption>
		<h2></h2>
	</caption>


	<input type="hidden" name="id" value="" />


	<fieldset class="form-group">
		<label>User Name</label> <input type="text" value=""
			class="form-control" name="nome" required="required">
	</fieldset>

	<fieldset class="form-group">
		<label>User Email</label> <input type="text" value=""
			class="form-control" name="email">
	</fieldset>

	<fieldset class="form-group">
		<label>User Country</label> <input type="text" value=""
			class="form-control" name="nazione">
	</fieldset>
	
	<button type="submit" class="btn btn-success">Save</button>
</form>
